  var socialList = [
    {icon: 'facebook2', url: 'https://www.facebook.com/vali.nicolae.3'},
    {"icon": "youtube","url": "https://www.youtube.com/channel/UC0bCoeVLZ_5GvtfLooxBPaA?view_as=subscriber"},
    {"icon": "github","url": "https://github.com/valentin3199"},
  ]

p.connect Let's Connect
img(src="asset/image/vali-photo.jpg", alt="")

.icofont-brand-youtube
.icofont-linkedin

