doctype html
html
  block config
  head
    title=myTitleForGoogleSearch
    meta(name="description", content=myDescriptionForGoogleSearch)
    link(rel="stylesheet", href="style.css")
  body
    block content