.landing-page__name{
    text-align: center;
}
.landing-page__title{
    padding:40px;
    text-align: center;

}

.about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    border-style: groove;
    padding:10px;
    text-align: center;

}